# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Node files
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*.json
*.tgz
yarn.lock
.nvmrc

# IDE config
.vscode

/package-lock.json
/.gitattributes
/.gitignore
/.github
/.editorconfig
/.prettierrc.yaml
/.prettierignore
/babel.config.js
/eslint.config.js
/tsconfig.json
/tsconfig.eslint.json
/spec
/src

/dts/**/*.test.d.ts
/esm/**/*.test.js
/esm/**/*.test.js.map
/cjs/**/*.test.cjs
/cjs/**/*.test.cjs.map

/dts/**/*.spec.d.ts
/esm/**/*.spec.js
/esm/**/*.spec.js.map
/cjs/**/*.spec.cjs
/cjs/**/*.spec.cjs.map
